* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: lightgrey;
    padding: 60px;
    border-radius: 30px;
    min-width: 50%;
}

a {
    display: block;
}

section {
    padding: 30px 0;
}

.section-title {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
}